{{#section 'css'}}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{/section}}

{{#section 'js'}}

{{/section}}

<form method="post" id="frmLogin">
    <section class="vh-100" style="background-color: #ffffff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong shadow" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <h3 class="mb-5">Sign in</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="typeEmail-2">Email</label>
                                <input name="email" type="text" id="txtEmail" class="form-control" autofocus>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typePasswordX-2">Password</label>
                                <input name="password" type="password" id="txtPassword" class="form-control form-control-lg">
                            </div>

                                <button type="submit" class="btn btn-lg btn-primary" style="width: 100%">Login</button>

                            <hr class="my-4">
                            <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                                    type="submit"><i class="fa fa-google me-2"></i> Sign in with google</button>
                            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                    type="submit"><i class="fa fa-facebook me-2" aria-hidden="true"></i>Sign in with facebook</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>