<form method="post">
  <div class="content-wrapper" style="margin-top: 60px;">
    <section class="content my-2">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <strong>Create category</strong>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
              </button>
              <a
                class="btn btn-sm btn-info"
                href="/admin/categories"
                role="button"
              >
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="txtCatName">Category Name</label>
            <input
              name="CatName"
              type="text"
              class="form-control"
              id="txtCatName"
              autofocus
              placeholder="Lập trình"
            />
          </div>
          <div class="form-group">
            <label for="txtCatName">Category Parent</label>
            <br />
            <select name="CatParent" id="txtCatParent" class="form-control">
              <option value="0">New Category</option>
              {{#each lcCategories}}
                {{#if CatParent}}{{else}}
                  <option value="{{CatName}}">{{CatName}}</option>
                {{/if}}
              {{/each}}
            </select>
          </div>

        </div>
      </div>
    </section>
  </div>
</form>